* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
}

.Cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #d9dddd;
}